<?xml version="1.0" encoding="utf-8" ?>
<configuration>


	<connectionStrings>
		<add name="CNNSTR" connectionString="Server=.\SQLEXPRESS ; DataBase=P5_Tosty_PF_2023; INTEGRATED SECURITY=TRUE; User Id=; Password="/>
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>